.blueprint {
    --bg-color: #192a56;
    --bg-header: #192a56BB;
    --bg-accent-color: #272727;
    --bg-dark-color: #181818;
    --bg-button: #333B;

    --fg-color: #DDD;
    --fg-accent-color: #AAA;

    --border-color: #111;
    --swatch: #333;

    --accent-color: skyblue;

    --line-color: #00a8ff;

    .main {
        .mouse-container {
            .mouse {
                border: none;
                background-color: var(--bg-header);
                outline: 1px dotted var(--line-color);
            }
        }

        .scroll-trigger {
            .top-trigger {
                background-color: var(--bg-header);
                outline: 1px dotted var(--line-color);
            }
        }
    
        .header {
            backdrop-filter: none;
            -webkit-backdrop-filter: none;

            outline: 1px dotted var(--line-color);
            outline-offset: -1px;
            .header-container {
                .header-title {
                    .header-name {
                        color: transparent;
                        -webkit-text-stroke: 1px var(--fg-color);
                        outline: 1px dotted var(--line-color);
                        outline-offset: -1px;
                    }

                    .hello {
                        outline: 1px dotted var(--line-color);
                        outline-offset: -1px;
                    }

                    .intro {
                        outline: 1px dotted var(--line-color);
                        outline-offset: -1px;
                    }
                }
            }
        }

        .header-links {
            .buttons {
                .button {
                    outline: 1px dotted var(--line-color);
                }
            }
        }

        .section-intro {
            outline: 1px dotted var(--line-color);
            outline-offset: -1px;

            .section-title {
                color: transparent;
                -webkit-text-stroke: 1px var(--fg-color);
            }
        }

        .technical {
            /* outline: 1px dotted var(--line-color);
            outline-offset: -1px; */

            .technical-background {
                background-color: var(--bg-header);
                outline: 1px dotted var(--line-color);
                outline-offset: -1px;
                background-image: none;
                backdrop-filter: none;
                -webkit-backdrop-filter: none;
                @media (max-width: 600px) {
                    background-image: none;
                }
            }

            .technical-cards {
                .technical-card {
                    background-color: var(--bg-header);
                    backdrop-filter: none;
                    -webkit-backdrop-filter: none;
                    outline: 1px dotted var(--line-color);

                    .card-layout {
                        > h2 {
                            color: transparent;
                            -webkit-text-stroke: 1px var(--fg-color);
                        }
                    }
                }
            }
        }

        .projects {
            .project-container {
                outline: 1px dotted var(--line-color);
                outline-offset: -1px;
                backdrop-filter: none;
                -webkit-backdrop-filter: none;
                border-top-color: var(--line-color);

                .project-layout {
                    .project {
                        .project-start {
                            > h3 {
                                outline: 1px dotted var(--line-color);
                            }
                        }
            
                        .project-end {
                            > p {
                                outline: 1px dotted var(--line-color);
                            }
                        }
                    }
            
                    .project-footer {
                        .decoration {
                            border-color: var(--fg-accent-color);
                            > label {
                                outline: 1px dotted var(--line-color);
                            }
                        }
    
                        .controls {
                            .control {
                                border-color: var(--fg-accent-color);
                            }
                        }
                    }
                }

            }
        }

        .footer {
            background-color: var(--bg-header);
            outline: 1px dotted var(--line-color);
            outline-offset: -1px;

            .container {
                .contacts {
                    outline: 1px dotted var(--line-color);
                }
            }

        }
    }

    .jumper {
        background: var(--bg-color);
        outline: 1px dotted var(--line-color);
        outline-offset: -1px;

        > svg {
            outline: 1px dotted var(--line-color);
        }
    }
}