.footer {
    position: fixed;
    z-index: 0;
    inset: 0;
    top: var(--header-height);

    inline-size: 100%;
    block-size: calc(100vh - var(--header-height));
    background-color: var(--bg-color);

    translate: 0 100vh;

    .container {
        inline-size: 100%;
        max-inline-size: var(--max-width);
        block-size: 100%;
        padding: var(--x);
        margin-inline: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
        padding-bottom: calc(var(--header-height) * 0.5);

        .contacts {
            inline-size: 100%;

            .row {
                display: grid;
                grid-template-columns: 60px 1px minmax(0, 1fr);
                gap: 1rem;
                overflow: hidden;
                align-items: center;
                margin-top: .5rem;

                @media (max-width: 768px) {
                    margin-top: 1rem;
                }

                .label {
                    color: var(--fg-accent-color);
                }

                .devider {
                    inline-size: 2px;
                    block-size: 12px;
                    border-radius: 2px;
                    background-color: var(--accent-color);
                }

                .contact-link {
                    overflow: hidden;

                    > a {
                        display: inline-block;
                        color: var(--fg-color);
                        text-decoration: none;

                        &:hover {
                            color: var(--accent-color);
                        }

                        .char {
                            display: inline-block;
                            translate: 20px 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .footer-title {
        font-size: clamp(2rem, 11vw, 6rem);
        /* font-size: clamp(3.5rem, 8.5vw, 10rem); */
        line-height: 1.2;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        padding-inline: var(--x);
    }

    .copyright {
        position: absolute;
        left: 0;
        bottom: 0;
        inline-size: 100%;
        font-size: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        letter-spacing: 4px;
        color: var(--fg-accent-color);
    }
}