.header {
    position: fixed;
    z-index: 8;
    inset: 0;
    overflow: hidden;

    background-color: var(--bg-header);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);

    .header-container {
        inline-size: 100%;
        max-inline-size: var(--max-width);
        block-size: 100%;
        margin-inline: auto;
        padding-inline: var(--x);

        display: flex;
        justify-content: flex-start;
        align-items: center;

        overflow: hidden;

        .header-title {
            inline-size: 100%;
            block-size: auto;
            position: relative;

            .header-name {
                font-size: clamp(3rem, 12vw, 11rem);
                font-weight: 900;
                line-height: 1.25;
                margin: 0;

                .char {
                    opacity: 0;
                    translate: 1em 0;
                    scale: 1;
                    transform-origin: center left;
                }
            }

            .hello {
                position: absolute;
                top: 0; left: 0;
                transform: translateY(-50%);

                @media (max-width: 599px) {
                    transform: translateY(-150%);
                }

                .char {
                    opacity: 0;
                    translate: 40px 0;
                }
            }

            .intro {
                position: absolute;
                left: 0;
                top: 100%;
                max-width: 600px;
                transform: translateY(10%);

                @media (max-width: 599px) {
                    transform: translateY(20%);
                }

                .word {
                    opacity: 0;
                    translate: 0 5px;
                }
            }
        }
    }
}

.header-trigger {
    inline-size: 100%;
    block-size: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    .header-mouse-trigger,
    .header-buttons-trigger {
        inline-size: 100%;
        block-size: var(--header-height);
    }
}