.projects-intro {
    position: fixed;
    z-index: 0;
    top: var(--header-height);
    left: 0;
    inline-size: 100%;
    block-size: 50vh;

    translate: 0 200%;
}

.projects {
    --block-start: 6vh;
    --block-end: 0px;
    --border-color: var(--fg-accent-color);
    
    position: fixed;
    z-index: 1;
    inset: 0;
    top: var(--header-height);

    inline-size: 100%;
    block-size: calc(100vh - var(--header-height));

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-block-start: var(--block-start);
    padding-block-end: var(--block-end);

    @media (min-width: 768px) {
        --block-start: 10vh;
        --block-end: 0px;
    }

    .project-container {
        position: absolute;
        inline-size: 100%;
        max-inline-size: 1800px;
        block-size: calc(100% - var(--block-start) - var(--block-end));
        max-block-size: 900px;

        translate: 0 100vh;
        scale: 0.8;
        
        border-top: 2px solid var(--border-color);
        border-radius: 0;

        background-color: var(--bg-header);
        backdrop-filter: saturate(180%) blur(10px);
        -webkit-backdrop-filter: saturate(180%) blur(10px);

        overflow: hidden;

        .project-layout {
            inline-size: 100%;
            max-inline-size: var(--max-width);
            block-size: 100%;
            margin-inline: auto;
            position: absolute;
            inset: 0;
    
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: minmax(0, 1fr) 60px;
            padding: var(--x);
            gap: var(--x);

            @media (min-width: 768px) {
                grid-template-columns: minmax(0, 2fr) minmax(0, 480px);
                grid-template-rows: minmax(0, 1fr) max(10vh, 80px);
            }
        }

        .project {
            inline-size: 100%;
            block-size: 100%;
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: minmax(0, .5fr) minmax(0, 1fr);
            grid-column: span 2;
            
            @media (min-width: 992px) {
                grid-template-columns: subgrid;
                grid-template-rows: minmax(0, 1fr);
            }

            .project-start {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                > h3 {
                    font-size: clamp(3rem, 9vw, 7rem);
                    font-weight: 800;
                    line-height: 1.1;

                    color: transparent;
                    -webkit-text-stroke: 2px var(--fg-color);

                    @media (min-width: 768px) {
                        -webkit-text-stroke-width: 3px;
                    }
                }
            }

            .project-end {
                display: flex;
                justify-content: center;
                align-items: center;

                > p {
                    text-align: justify;

                    > a {
                        color: var(--fg-color);

                        &:hover {
                            color: var(--accent-color);
                        }
                    }
                }
            }
        }

        .project-footer {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            grid-column: span 2;
            
            @media (min-width: 992px) {
                grid-template-columns: subgrid;
            }

            .decoration {
                block-size: 100%;
                border-block: 2px solid var(--border-color);

                > label {
                    display: inline-block;
                }
            }

            .controls {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: clamp(1rem, 2vw, 3rem);

                .control {
                    --icon-color: var(--fg-color);
                    --stoke-color: transparent;
                    --fill-color: var(--border-color);

                    block-size: 100%;
                    aspect-ratio: 1 / 1;
                    border: none;
                    border-radius: 100%;
                    background-color: transparent;
                    padding: 0;
                    cursor: pointer;

                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .2s ease-in;

                    border-radius: 50%;
                    background: conic-gradient(var(--fill-color) 100%, var(--stoke-color) 0); 

                    > svg {
                        position: absolute;
                        z-index: 2;
                        width: 24px;
                        height: 24px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        inset: 2px; 
                        border-radius: inherit;
                        background: var(--bg-color);
                        transition: all .2s ease-in;
                    }

                    &:hover {
                        --icon-color: var(--bg-color);
                        --stoke-color: var(--bg-color);
                        --fill-color: var(--bg-color);
                        
                        outline: 2px solid var(--border-color);

                        &::before {
                            inset: 2px;
                            background-color: var(--border-color);
                        }
                    }
                }

                &.disabled {
                    .control {
                        cursor: not-allowed;

                        /* &:hover {
                            background-color: transparent;
                            --icon-color: var(--fg-color);
                            outline: 1px none;
                        } */
                    }
                }
            }
        }
    }
}
