.technical-intro {
    position: fixed;
    z-index: 0;
    top: var(--header-height);
    left: 0;
    inline-size: 100%;
    block-size: 50vh;

    translate: 0 200%;
}

.technical {
    --size: 160px;
    --icon-color: var(--fg-color);

    pointer-events: none;
    overflow: hidden;

    position: fixed;
    isolation: isolate;
    z-index: 3;
    inset: 0;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));

    display: flex;
    justify-content: center;
    align-items: flex-start;

    translate: 0 150vh;

    @media (min-width: 768px) {
        --size: 200px;
    }

    .technical-background {
        inline-size: var(--size);
        block-size: var(--size);
        border-radius: var(--size);
        /* border: 2px solid var(--border-color); */

        /* background-color: var(--fg-color);
        background-image: url(/background.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: 600px) {
            background-image: url(/background-sm.jpeg);
        } */

        background-color: var(--bg-circle);

        display: flex;
        justify-content: center;
        align-items: center;

        translate: 0 40vh;

        /* inline-size: 100vw;
        block-size: calc(100vh - var(--header-height));
        border-radius: 2px; */
        
        > svg {
            width: calc(var(--size) * 0.555);
            height: calc(var(--size) * 0.555);
            translate: 0 -2px;
        }
    }

    .technical-cards {
        position: fixed;
        isolation: isolate;
        z-index: 2;
        inset: 0;
        overflow: hidden;
        height: calc(100vh - var(--header-height));

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        .technical-card {
            position: absolute;
            pointer-events: auto;
            /* will-change: transform; */

            inline-size: calc(100vw - var(--x));
            max-inline-size: 650px;
            block-size: calc(100vh - var(--dx) - var(--header-height));
            max-block-size: 650px;
            border: 1px solid var(--border-color);
            border-radius: 2px;

            translate: 100vw 0;
            scale: .8;

            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: 768px) {
                rotate: 15deg;
            }

            .card-layout {
                inline-size: 100%;
                max-inline-size: 540px;
                block-size: 100%;
                padding-inline: var(--x);
                padding-block: 12vh var(--x);

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                gap: 1rem;

                > h2 {
                    font-size: clamp(2rem, 11vw, 4rem);
                    font-weight: 900;
                    line-height: 1.4;
                }

                .skills {
                    inline-size: 100%;
                    flex: 1;

                    .skill-list {
                        list-style: none;
                        margin: 0;
                        padding-inline: 0;
                        padding-block-start: 1rem;

                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 1rem;
                        padding-inline-start: .75rem;

                        @media (min-width: 500px) {
                            padding-inline-start: 1rem;
                        }

                        .skill {
                            .skill-circle {
                                --size: 80px;
                                --stoke-color: transparent;
                                --fill-color: var(--accent-color);
                                --skill: 0%;

                                inline-size: var(--size);
                                block-size: var(--size);
                                border-radius: 50%;
                                background: conic-gradient(var(--fill-color) var(--skill, 0%), var(--stoke-color) 0);
                                padding: 4px;

                                &[data-skill="40"] {
                                    --skill: 40%;
                                }
                                &[data-skill="50"] {
                                    --skill: 50%;
                                }
                                &[data-skill="55"] {
                                    --skill: 55%;
                                }
                                &[data-skill="65"] {
                                    --skill: 65%;
                                }
                                &[data-skill="75"] {
                                    --skill: 75%;
                                }
                                &[data-skill="80"] {
                                    --skill: 80%;
                                }
                                &[data-skill="88"] {
                                    --skill: 88%;
                                }
                                &[data-skill="92"] {
                                    --skill: 92%;
                                }
                                &[data-skill="94"] {
                                    --skill: 94%;
                                }
                                &[data-skill="98"] {
                                    --skill: 98%;
                                }

                                > label {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;

                                    inline-size: 100%;
                                    block-size: 100%;
                                    border-radius: 50%;
                                    background-color: var(--bg-color);
                                    font-size: .75rem;
                                }
                            }
                            /* .skill-circle {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;

                                > label {
                                    position: absolute;
                                    padding: 5px;
                                    font-size: .75rem;
                                }

                                > svg {
                                    transform: rotate(-90deg);
                                }
                            } */
                        }
                    }
                }
            }
        }
    }
}

.technical-intro-trigger {
    inline-size: 100%;
    block-size: 100vh;

    margin-block-start: -100vh;
}

.technical-trigger {
    inline-size: 100%;

    .technical-enter-tragger {
        inline-size: 100%;
        block-size: 100vh;
    }

    .technical-background-trigger {
        inline-size: 100%;
        block-size: 100vh;
    }

    .technical-cards-trigger {
        margin-block-start: 80vh;
        .technical-card-trigger {
            inline-size: 100%;
            block-size: 100vh;
        }
    }
}