:root {
    --max-width: 1400px;

    --header-height: 60px;
    --section-height: calc(100vh - var(--header-height));

    --x: clamp(1.5rem, 6vw, 3rem);
    --dx: calc(var(--x) * 2);
    --card-max-width: calc(var(--max-width) - var(--dx));
}

html,
body {
    min-inline-size: 100%;
    min-block-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

.main {
    .section-intro {
        inline-size: 100%;
        overflow-x: hidden;
        overflow-y: visible;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;

        .section-title {
            font-size: clamp(2rem, 11vw, 6rem);
            line-height: 1.2;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;
            padding-inline: var(--x);
            /* transform-origin: center top; */
        }

        .section-description {
            inline-size: 100%;
            max-inline-size: 700px;
            text-align: center;
            padding-inline: var(--x);
        }
    }

    .size-calculator {
        inline-size: 100%;
        block-size: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        .mouse-trigger,
        .buttons-trigger {
            inline-size: 100%;
            block-size: 60px;
        }
    }

    .scroll-trigger {
        inline-size: 100%;
        block-size: 1000vh;
        /* block-size: 600vmin; */

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;

        .top-trigger {
            inline-size: 100%;
            block-size: 60px;
        }
    }

    .mouse-container {
        position: fixed;
        z-index: 9;
        left: 0;
        bottom: var(--x);
        inline-size: 100%;
        padding: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: none;

        .mouse {
            inline-size: 30px;
            block-size: 42px;
            border: 2px solid var(--border-color);
            border-radius: 20px;

            background-color: var(--bg-dark-color);

            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 5px;

            cursor: pointer;
            pointer-events: auto;

            opacity: 0;
            translate: 0 200px;

            &::before {
                content: '';
                display: block;
                inline-size: 3px;
                block-size: 12px;
                border-radius: 2px;
                background-color: var(--accent-color);
            }
        }
    }
}

[data-popup] {
    position: relative;

    &::after {
        content: attr(data-popup);
        display: block;
        color: var(--fg-color);
        text-decoration: none;
        pointer-events: none;

        background-color: var(--bg-header);
        backdrop-filter: saturate(200%) blur(10px);
        -webkit-backdrop-filter: saturate(200%) blur(10px);

        position: absolute;
        white-space: nowrap;
        padding: .5rem 1.5rem;
        border-radius: 6px;

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        top: 0;
        opacity: 0;
        scale: 0;

        transition: all .2s ease;
    }

    &[data-position="bottom"]::after {
        top: initial;
        bottom: 0;
    }

    &:hover::after {
        opacity: 1;
        translate: 0 -120%;
        scale: 1;
    }

    &[data-position="bottom"]:hover::after {
        translate: 0 120%;
    }


    @media (prefers-color-scheme: dark) {
        &::after {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
        }
    }
}

.iframe-container {
    position: fixed;
    z-index: 999;
    inset: 0;

    background-color: var(--bg-header);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);

    overscroll-behavior: contain;
    border: 2px solid var(--border-color);
    border-radius: 2px;

    pointer-events: none;
    opacity: 0;
    /* translate: 0 120%; */

    &.opened {
        pointer-events: auto;
        opacity: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        /* .loader {
            position: absolute;
            z-index: 0;

            width: 4px;
            height: 86px;
            background: var(--fg-color);
            animation: shake 1s linear infinite alternate,
                       lightup 1s linear infinite;
            transform-origin: 0 0;
        }

        .loader::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            width: 32px;
            height: 16px;
            box-sizing:border-box;
            border: 5px solid #FF3D00;
            border-top: none;
            border-radius: 0 0 20px 20px;
        }
        .loader::after {
            content: '';
            left: 50%;
            bottom: 0;
            position: absolute;
            transform: translateX(-50%);
            width: 64px;
            height: 32px;
            border-radius: 50px 50px 0 0;
            background: var(--fg-color);
        } */


        .loader {
            position: absolute;
            z-index: 0;

            --color: var(--fg-color);

            width: 60px;
            height: 60px;
            display: block;
            background: radial-gradient(ellipse at center, var(--color) 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, var(--color) 48%, var(--color) 52%, rgba(0, 0, 0, 0) 53%);
            background-size: 20px 20px , 20px auto;
            background-repeat: repeat-x;
            background-position: center bottom, center -5px;
            box-sizing: border-box;
        }
        .loader::before,
        .loader::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: -20px;
            top: 0;
            width: 20px;
            height: 60px;
            background: radial-gradient(ellipse at center, var(--color) 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, var(--color) 48%, var(--color) 52%, rgba(0, 0, 0, 0) 53%);
            background-size: 20px 20px , 20px auto;
            background-repeat: no-repeat;
            background-position: center bottom, center -5px;
            transform: rotate(0deg);
            transform-origin: 50% 0%;
            animation: animPend .7s linear infinite alternate;
        }
        .loader::after {
            animation: animPend2 .7s linear infinite alternate;
            left: 100%;
        }
    }

    > .iframe {
        position: relative;
        z-index: 1;
        opacity: 0;

        inline-size: 100%;
        block-size: 100%;
        border: none;
        overflow: hidden;
        background-color: var(--bg-color);
        transition: opacity .3s ease;

        &.ready {
            opacity: 1;
        }
    }

    .close-website {
        --size: 60px;
        --icon-color: var(--fg-color);
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 1rem;
        translate: -50% 0;

        inline-size: var(--size);
        block-size: var(--size);
        border-radius: 50%;
        border: 2px solid var(--fg-accent-color);
        cursor: pointer;

        background-color: var(--bg-header);
        backdrop-filter: saturate(180%) blur(10px);
        -webkit-backdrop-filter: saturate(180%) blur(10px);

        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .3s ease, outline .3s ease;

        @media (min-width: 768px) {
            --size: 80px;
        }

        &:hover {
            --icon-color: var(--bg-color);
            background-color: var(--fg-accent-color);
            outline: 2px solid var(--bg-color);
            outline-offset: -4px;
        }

        &::before,
        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            inline-size: 20px;
            height: 2px;
            border-radius: 2px;
            background-color: var(--icon-color);

            rotate: 45deg;

            transition: background-color .3s ease;
        }
        &::after {
            rotate: -45deg;
        }
    }
}

.jumper {
    --icon-size: 80px;
    --icon-color: var(--fg-color);
    --s: 124px;
    --g: var(--bg-accent-color) 0 25%,var(--bg-color) 0 50%,#0000 0;

    position: fixed;
    isolation: isolate;
    z-index: 999;
    inset: 0;
    /* pointer-events: none; */
    translate: 110% 0;

    background:
        conic-gradient(from 135deg at 25% 75%,var(--g))
        calc(var(--s)/4) calc(var(--s)/-4),
        conic-gradient(from -45deg at 75% 25%,var(--g))
        calc(var(--s)/-4) calc(var(--s)/4),
        repeating-conic-gradient(var(--g));
    background-size: var(--s) var(--s);

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        --icon-size: 140px;
    }

    > svg {
        width: var(--icon-size);
        height: var(--icon-size);
        scale: 0;
        opacity: 0;
    }
}


@keyframes shake {
    0% { transform: rotate(10deg)  }
    100% { transform: rotate(-10deg)  }
}
@keyframes lightup {
    0% ,20% , 40% {
        opacity: 0
    }
    10%, 30% , 50% , 100% {
        opacity: 1
    }
}


@keyframes animPend {
    0% {
      transform: rotate(22deg);
    }
    50% {
        transform: rotate(0deg);
    }
  }

@keyframes animPend2 {
    0%, 55% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-22deg);
    }
}